html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	font-family: Raleway, arial, Verdana ;
    margin: 0;
}

header{
    background: none;
    padding: 20px;
    z-index: 99;
    position: relative;
	background: #8C4F35 url(./img/fon.png) no-repeat scroll center top / cover;
}

p {
    font-size: 14px;

}
a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 65px;
}
h3 {
    font-size: 14px;
}



@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(./fonts/glyphicons-halflings-regular.eot);
    src: url(./fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"),url(./fonts/glyphicons-halflings-regular.woff2) format("woff2"),url(./fonts/glyphicons-halflings-regular.woff) format("woff"),url(./fonts/glyphicons-halflings-regular.ttf) format("truetype"),url(./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}

@font-face {
    font-family: Raleway;
    src: local(Raleway),url(fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: OpenSans;
    src: local(OpenSans),url(fonts/OpenSans-Bold.ttf);
}


.auto{
	margin: auto;
}
.left{
	float: left;
	margin: 0 2px 0 0;
}
.strong{
	font-family: OpenSans, arial;
} 



/*****header*****/
.navbar-brand{
    float: left;
    height: 24px;
    width: 189px;
    background: no-repeat;
}

.text-a {
    padding: 21% 6% 5% 6% ;
}
.text-a p {
    font-size: 22px;
}
.bg-fon {
	background: #8C4F35 url(./img/fon.png) no-repeat scroll center top / cover;
    min-height: 750px;
    background-attachment: fixed;
    position: relative;
    top: -112px;
}
.bg-fon img {
	position: fixed;
}
.margin-top{
	margin-top: 5%;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #66697e;
}


a.knopka {
  color: #fff; 
  text-decoration: none;  
  background: #e84545; 
  padding: .7em 3.5em; 
  outline: none; 
  border-radius: 2px;
} 
a.knopka:hover { 
	background: rgb(232,95,76); 
} 
a.knopka:active { 
	background: rgb(152,15,0); 
}
.border-bottom{
	border-bottom: 1px solid #66697e;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    width: 100%;
    height: 100%;
}



/*****index*****/
.premium{
	padding: 5%;
}
.premium p{
	color: #6c7279;
}
.premium h3{
	color: #2d3033;
	font-weight:bold;
}


/*Ссылка на спрайт*/
.first{
	background: url(./img/sprites.png) no-repeat;
}
.hover:hover{
	opacity: 0.6;
}

.s-2{
background-position: -342px -49px;
width: 73px;
height: 60px;
}
.s-3{
background-position: -290px -52px;
width: 41px;
height: 60px;
}
.s-4{
background-position: -224px -49px;
width: 56px;
height: 60px;
}
.s-5{
background-position: -142px -50px;
width: 72px;
height: 60px;
}
.s-6{
background-position: -60px -50px;
width: 79px;
height: 60px;
}
.Easily{
background-position: 1px -52px;
width: 60px;
height: 60px;
}

/*Спрайт иконок*/
.fc{
background-position: -255px 0;
width: 48px;
height: 48px;
}
.in{
background-position: -195px 0;
width: 48px;
height: 48px;
}
.man_fb{
background-position: -149px 0;
width: 40px;
height: 40px;
}
.man_in{
background-position: -99px 0;
width: 40px;
height: 40px;
}
.man_tw{
background-position: -54px 0;
width: 40px;
height: 40px;
}
.tw{
background-position: 0 0;
width: 48px;
height: 48px;
}

/* Эффет при наведении на картинку */


.margin-top .col-md-3 {
	padding-left: 0!important;
	padding-right: 0!important;

}


.foto1 {
	background: #8C4F35 url(../css/img/foto1.png) no-repeat scroll center top / cover;
    min-height: 270px;
}
.foto2 {
	background: #8C4F35 url(../css/img/foto2.png) no-repeat scroll center top / cover;
    min-height: 270px;
}
.foto3 {
	background: #8C4F35 url(../css/img/foto4.png) no-repeat scroll center top / cover;
    min-height: 270px;
}
.foto4 {
	background: #8C4F35 url(../css/img/foto4.png) no-repeat scroll center top / cover;
    min-height: 270px;
}
.foto5 {
	background: #8C4F35 url(../css/img/foto5.png) no-repeat scroll center top / cover;
    min-height: 270px;
}
.foto6 {
	background: #8C4F35 url(../css/img/foto6.png) no-repeat scroll center top / cover;
    min-height: 270px;
}
.foto7 {
	background: #8C4F35 url(../css/img/foto7.png) no-repeat scroll center top / cover;
    min-height: 270px;
}
.foto8 {
	background: #8C4F35 url(../css/img/foto8.png) no-repeat scroll center top / cover;
    min-height: 270px;
}

.effect-sarah{
    height: 295px;

}
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;

}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 1em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 110px;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}



figure.effect-sarah {
	background: #e55252;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {

}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-sarah p span {
	font-size: 8px;
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*Менеджеры*/
#name h2{
	font-size: 22px;
	
}
#name h3{
	font-size: 13px;
	
}


.otstup10{
	margin: 10% 0;
}



.fotoRuth{
	background: #8C4F35 url(../css/img/ruth.jpg) no-repeat scroll center top / cover;
    min-height: 270px;
}
.fotoReed{
	background: #8C4F35 url(../css/img/reed.jpg) no-repeat scroll center top / cover;
    min-height: 270px;
}
.fotoValdez{
	background: #8C4F35 url(../css/img/valdez.jpg) no-repeat scroll center top / cover;
    min-height: 270px;
}
.fotoLittle {
	background: #8C4F35 url(../css/img/little.jpg) no-repeat scroll center top / cover;
    min-height: 270px;
}

.fotoSize{
	margin: auto;
    height: 100%;
    width: 100%;
}




.color_red {
    color: #e84545;
}
.color_grey {
    color: #6c7279;
}

/*Блок скачать бесплатно*/
* {
   box-sizing: border-box;
  }

section {
    display: block;
	clear: both;
  }

  a{
    text-decoration: none;
  }

  .section {
    padding: 100px 0;
  }

  .container2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .container2:before{
    display: table;
    content: " ";
  }

  .container2:after{
    display: table;
    content: " ";
    clear:both;
  }

  .text-center{
    text-align: center;
  }

  .col-md-8 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 40px auto;
  }

  .download h3 {
    margin-top: 0;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: inherit;
    line-height: 1.1;
  }

  .download p {
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
    margin: 0 0 10px;
  }

  .download #btn {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
  }


/*****footer*****/

.fon_footer{
    background: #3a3e64;
}
.fon_footer_un{
	background: #313454
}
.footer_p{
	color: #9d9fb2;
}
.footer_p2{
	color: #808080;
    width: 33%;
    margin: auto;
}

.color-white{
	color: #fff;
}
.padding20_0{
	padding: 20px 0;
}
.padding2{
	padding: 2% 0;
} 
.color_red{
	color: red;
}
.color_white{
	color: #fff;
}
.color_white:hover{
	color: #fff;
	text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
	
	h1 {
		font-size: 45px;
	}
	
	.text-a {
    padding: 43% 6% 5% 6%;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	
	.col-sm-6 {
		width: 50%;
	}
	
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
	
.navbar-default .navbar-nav>li>a {
    color: #676a7f;
}

}


