/* montserrat regular */

html{
	font-size: 10px;
}

@font-face {
    font-family: Montserrat;
    src: local(Montserrat),url(fonts/Montserrat-Regular.ttf);
}
body {
	font-family: Montserrat, arial, Verdana ;
    margin: 0;
}
img{
	margin: 0; 
	padding: 0;
}


.content{
		width: 32rem;
		margin: auto;
		background: #373c3f;
	}
	
.header{
		height: 3.8rem;
}
	
.header p{
		display: block;
		font-size: 1.5rem;
		float: left;
		color: #fff;
		margin: 1rem;
	}
.menu_mb{
		display: block;
		background: url(img/menu_mb.jpg);
		float: right;
		width: 3.4rem;
		height: 3.8rem;
		background-size: cover;
	}
.menu {
		display: none;
}
.promo{
	width: 32rem;
	min-height: 17.4rem;
	background: url(img/Banner1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.textbox{
	width: 32rem;
	height: 7.5rem;
	background: url(img/TextBox.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.odin{
	display: block;
}
.odin img{
	max-width: 32rem;
	height: 28.5rem;	
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align:bottom;

}
.promo-text{
	width: 100%;
	background: #ebebeb;

}
.promo-bottom{
	width: 100%;
	box-sizing: border-box;
	background: #ebebeb;
	padding: 1.9rem

}
.promo-bottom h2{
	color: #0075a8;
    text-align: center;

}



@media only screen and (min-width: 320px) and (max-width: 440px) {
	.content{
		width: 100%;
	}
	.header{
		height: 7.4rem;
		width: 100%;
	}
	.header p{
		display: block;
		font-size: 2rem;
		float: left;
		color: .ebebeb;
		margin: 2.5rem;
	}
	.menu_mb{
		display: block;
		background: url(img/menu_mb.jpg);
		float: right;
		width: 8.4rem;
		height: 7.4rem;
	}
	.menu {
		display: none;
	}
	.promo{
		width: 100%;
		min-height: 26rem;
		background: url(img/Banner1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.textbox{
		width: 100%;
		min-height: 8rem;
		background: url(img/TextBox.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.odin{
			display: block;
	}
	.odin img{
		max-width: 100%;
		min-height: 36rem;	
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align:bottom;

	}
	.promo-text{
		width: 100%;

	}
	.promo-bottom{
		width: 100%;
		box-sizing: border-box;
		background: #ebebeb;
		padding: 1.5rem;

	}
	.promo-bottom h2{
		color: #0075a8;
		text-align: center;

	}

}

@media only screen and (min-width: 440px) and (max-width: 640px) {
	.content{
		width: 100%;
	}
	.header{
		min-height: 7.4rem;
		width: 100%;
	}
	.header p{
		display: block;
		font-size: 2rem;
		float: left;
		color: .ebebeb;
		margin: 2.5rem;
	}
	.menu_mb{
		display: block;
		background: url(img/menu_mb.jpg);
		float: right;
		width: 8.4rem;
		min-height: 7.4rem;
	}
	.menu {
		display: none;
	}
	.promo{
		width: 100%;
		min-height: 36rem;
		background: url(img/Banner1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.textbox{
		width: 100%;
		min-height: 12rem;
		background: url(img/TextBox.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.odin{
			display: block;
	}
	.odin img{
		max-width: 100%;
		min-height: 55rem;	
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align:bottom;

	}
	.promo-text{
		width: 100%;
		font-size: 2.8rem;
		color: #515151;

	}
	.promo-bottom{
		width: 100%;
		box-sizing: border-box;
		background: #ebebeb;
		padding: 5.5rem;
		

	}
	.promo-bottom h2{
		color: #0075a8;
		text-align: center;
		font-size: 3.8rem;

	}

}

@media only screen and (min-width: 640px) and (max-width: 980px) {
	.content{
		width: 100%;
	}
	.header{
		min-height: 7.4rem;
		width: 100%;
	}
	.header p{
		display: none;
		font-size: 2rem;
		float: left;
		color: .ebebeb;
		margin: 2.5rem;
	}
	.menu_mb{
		display: none;
		background: url(img/menu_mb.jpg);
		float: right;
		width: 8.4rem;
		min-height: 7.4rem;
	}
	.menu {
		display: flex;
		color: #fff;
		list-style: none;
	}
	.menu ul {
		width: 100%;
	}
	.menu li {
		margin: 4% 2%;
		font-size: 1.4rem;
	}
	.promo{
		width: 100%;
		min-height: 49.5rem;
		background: url(img/Banner1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: 4px;
	}

	.textbox{
		width: 100%;
		min-height: 18rem;
		background: url(img/TextBox.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.odin{
			display: block;
	}
	.odin img{
		max-width: 33.33%;
		min-height: 28rem;	
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align:bottom;

	}
	.promo-bottom{
		width: 100%;
		box-sizing: border-box;
		background: #ebebeb;
		padding: 2.8rem;
		float: left;
		

	}
	.promo-text{
		width: 47%;
		float: left;
		font-size: 1.4rem;
		color: #515151;
		margin: 0 1rem;
      
	}

	.promo-bottom h2{
		color: #0075a8;
		text-align: left;
		font-size: 2.8rem;
		margin: 0 1rem;
		
	}

}

@media only screen and (min-width: 915px) and (max-width: 980px) {
	
	.menu li {
		margin: 3% 2%;
		font-size: 1.4rem;
	}
	.promo{
		background-position-y: -132px;
	}
}

@media only screen and (min-width: 980px) and (max-width: 1024px) {
	.content{
		width: 100%;
	}
	.header{
		min-height: 7.4rem;
		width: 100%; 
	}
	.header p{
		display: none;
		font-size: 2rem;
		float: left;
		color: .ebebeb;
		margin: 2.5rem;
	}
	.menu_mb{
		display: none;
		background: url(img/menu_mb.jpg);
		float: right;
		width: 8.4rem;
		min-height: 7.4rem;
	}
	.menu {
		display: flex;
		color: #fff;
		list-style: none;
	}
	.menu ul {
		width: 100%;
	}
	.menu li {
		margin: 3% 2%;
		font-size: 1.4rem;
	}
	.promo{
		width: 100%;
		min-height: 57.3rem;
		background: url(img/Banner1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: -60px;
	}

	.textbox{
		width: 100%;
		min-height: 24rem;
		background: url(img/TextBox.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.odin{
			display: block;
	}
	.odin img{
		max-width: 33.33%;
		min-height: 29.3rem;	
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align:bottom;

	}
	.promo-bottom{
		width: 100%;
		box-sizing: border-box;
		background: #ebebeb;
		padding: 2.8rem;
		float: left;
		

	}
	.promo-text{
		width: 47%;
		float: left;
		font-size: 1.4rem;
		color: #515151;
		margin: 0 1rem;
      
	}

	.promo-bottom h2{
		color: #0075a8;
		text-align: left;
		font-size: 2.8rem;
		margin: 0 1rem;
		
	}

}
@media only screen and (min-width: 1024px) and (max-width: 2024px) {
	.content{
		width: 102.4rem;
		margin: auto;
		
	}
	.header{
		min-height: 7.4rem;
		width: 100%; 
	}
	.header p{
		display: none;
		font-size: 2rem;
		float: left;
		color: .ebebeb;
		margin: 2.5rem;
	}
	.menu_mb{
		display: none;
		background: url(img/menu_mb.jpg);
		float: right;
		width: 8.4rem;
		min-height: 7.4rem;
	}
	.menu {
		display: flex;
		color: #fff;
		list-style: none;
	}
	.menu ul {
		width: 100%;
	}
	.menu li {
		margin: 3% 2%;
		font-size: 1.4rem;
	}
	.promo{
		width: 100%;
		min-height: 57.3rem;
		background: url(img/Banner1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-y: -60px;
	}

	.textbox{
		width: 100%;
		min-height: 24rem;
		background: url(img/TextBox.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.odin{
			display: block;
	}
	.odin img{
		max-width: 34.33%;
		min-height: 29.617rem;	
		background-repeat: no-repeat;
		background-size: cover;
		vertical-align:bottom;

	}
	.promo-bottom{
		width: 100%;
		box-sizing: border-box;
		background: #ebebeb;
		padding: 2.8rem;
		float: left;
		

	}
	.promo-text{
		width: 47%;
		float: left;
		font-size: 1.4rem;
		color: #515151;
		margin: 0 1rem;
      
	}

	.promo-bottom h2{
		color: #0075a8;
		text-align: left;
		font-size: 2.8rem;
		margin: 0 1rem;
		
	}

}







